@model MvcForum.Models.Post
<article>
    @Html.Encode(new HtmlString(Model.PostContent))
</article>
<div class="postFooter">
@{string postId = "ratePost_" + Model.PostId;
    <span id=@postId>   
        @Html.Partial("VoteModule", Model) 
    </span>  
} 
</div>
